<div class="w-full flex items-center">
  <%= link_to users_show_path(user), class: 'w-full' do %>
    <div class="flex flex-row space-x-2">
      <%= image_tag user_avatar(user), alt: user.username, width: '50px', height: '50px', class: 'rounded-full object-cover' %>
      <div class="flex flex-col text-sm font-semibold">
        <%= user.name %> <br>
        <span class="text-gray-400"><%= user.username %></span>
      </div>
    </div> 
  <% end %>
  <% unless current_user == user %>
    <button class="px-4 flex h-7 justify-center items-center space-x-2 text-center text-sm font-semibold border-2 border-blue-600 bg-white text-blue-600 rounded-lg hover:bg-blue-600 hover:text-white">
    <i class="fa-solid fa-user-plus" ></i><span class="mr-1">follow</span></button>
  <% end %>
</div>
