<div class="mx-auto sm:w-3/4  flex flex-col -mt-8">
  <div class="w-full mb-10 flex justify-between">
    <%= link_to root_path, class: 'block' do %>
      <i class="fa-solid fa-arrow-left"></i> home
    <% end %>
    <div class="flex flex-col justify-center items-center">
      <%= image_tag user_avatar(@user), width: '80px', height: '80px', class: 'rounded-full object-cover' %>
      <h3 class="text-2xl font-semibold"><%= @user.name %></h3>
    </div>
    <div></div>
  </div>
  <div class="flex flex-col mx-auto sm:w-2/3">
    <%= render 'form', user: @user %>
  </div>
</div>